# Analiza podatkov - pandas
Spodaj bom analiziral podatke s strani [anime-planet](https://www.anime-planet.com/anime/all) in preveril hipoteze, ki sem jih postavil:
* Ali obstaja povezava med *številom episod* in *žanrom*?
* Kateri *studii* imajo največ najbolje ocenjenih filmov?
* Kateri anime z določeno *oznako* so najslabše ocenjene?
* Kateri *studii* so izdali največ epizod?
* Ali so anime, ki so izšli kasneje bolje ocenjeni?

In [41]:
import pandas as pd
anime = pd.read_csv('Csv_files/anime-planet.csv', index_col = 'id').sort_values('id', ascending=True)
tags = pd.read_csv('Csv_files/anime-planet_tags.csv', index_col = 'id').sort_values('id', ascending=True)
pd.options.display.max_rows = 20

## 1. Ali obstaja povezava med številom episod in žanrom?

## 2. Kateri *studii* imajo največ najbolje ocenjenih filmov?

In [56]:
studii = anime[(anime.studio != 'No studio found') & (anime.rating >= 4.6)].sort_values('rating', ascending=True).groupby('studio')

In [59]:
studii.count()

                         title  alt_title  type  num_of_ep  year  rating
studio
Artland                      2          2     2          2     2       2
BN Pictures                  5          5     5          5     5       5
Bones                        3          3     3          3     3       3
Brain's Base                 1          1     1          1     1       1
CoMix Wave Inc.              1          1     1          1     1       1
David Production             1          1     1          1     1       1
G.CMay Animation & Film      1          1     1          1     1       1
Kinema Citrus                1          1     1          1     1       1
Kyoto Animation              3          3     3          3     3       3
MADHOUSE                     4          4     4          4     4       4
Production I.G               3          3     3          3     3       3
Shaft                        4          4     4          4     4       4
Shuka                        2          2     2          2     2       2
Studio Chizu                 1          1     1          1     1       1
Studio Deen                  1          1     1          1     1       1
Studio Ghibli                2          2     2          2     2       2
Sunrise                      5          5     5          5     5       5
WHITE FOX                    1          1     1          1     1       1